RESEND_API_KEY=
CONTACT_EMAIL_TO=info@advlink.it
CONTACT_EMAIL_FROM=noreply@advlink.it

# Supabase (admin console)
NEXT_PUBLIC_SUPABASE_URL=https://nnkyjhseoicfgqrtptky.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
